
.chart-container-dashboard {
  display: flex;
  gap: 15px;
  padding: 20px;
  background-color: #f5f5f5;
}

.chart-filters-dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 500px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.chart-display-dashboard {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 500px;
}

.chart-box {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  height: 300px;
  overflow: hidden;
}

.chart-box canvas {
  max-width: 100%;
  max-height: 100%;
}


@media (max-width: 768px) {
  .chart-container-dashboard {
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }

  .chart-filters-dashboard {
    padding: 15px;
  }

  .chart-display-dashboard {
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
    padding: 10px;
  }

  .chart-box {
    height: 250px; 
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .chart-container-dashboard {
    padding: 5px;
  }

  .chart-filters-dashboard,
  .chart-display-dashboard {
    padding: 10px;
  }

  .chart-display-dashboard {
    grid-template-columns: 1fr; 
  }

  .chart-box {
    height: 200px; 
    padding: 5px;
  }
}
