
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f0e0e; 
  padding: 10px 10px;
  width: 100%;
  position: fixed; 
  left: 0;
  top: 0;
  z-index: 1000; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 0;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.ticket-icon {
  color: white;
  font-size: 22px; 
  margin-right: 8px;
  margin-left: 5px;
}

.navbar-logo h2 {
  color: white;
  font-size: 20px; 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-links,
.navbar-profile {
  display: flex;
  align-items: center;
}

.navbar-links button,
.navbar-profile button {
  color: white;
  background-color: #0f0e0e; 
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px; 
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  border: none;
  background-color: white;
  cursor: pointer;
  text-align: left;
  width: 100%;
  font-size: 16px;
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .navbar-links button,
.dropdown:hover .navbar-profile button {
  background-color: #333333;
}

.main-content {
  padding-top: 70px; 
}

.dropdown-item {
  color: black;
  padding: 12px 16px;
  border: none;
  background-color: white;
  cursor: pointer;
  text-align: left;
  width: 100%;
  font-size: 16px;
}

.navbar-heading {
  color: white;
  text-decoration: none;
}

.navbar-heading h2 {
  margin: 0;
}

.menu-button {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .menu-button {
    display: block;
  }

  .navbar-links,
  .navbar-profile {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .navbar-links.show,
  .navbar-profile.show {
    display: flex;
  }

  .navbar-links button,
  .navbar-profile button {
    width: 100%;
    padding: 12px 16px;
    font-size: 18px;
  }

  .dropdown-content {
    position: static;
    box-shadow: none;
    
  }

  .dropdown-content button {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .ticket-icon {
    font-size: 20px;
  }

  .navbar-logo h2 {
    font-size: 18px;
  }

  .navbar-links button,
  .navbar-profile button {
    font-size: 16px;
  }

  .dropdown-content button {
    font-size: 12px;
  }
}