body {
  padding-top: 60px;
}

.contact-page {
  display: flex;
  padding: 20px;
  background-color: #f5f5f5;
}

.left-side {
  flex: 2; 
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 20px;
}

.profile-section,
.timeline-section {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%; 
}

.timeline-section h3{
  margin-top: 0;
  font-size: 2em; 
  color: #333; 
  margin-bottom: 20px;

}

.contact-card {
  display: flex;
  align-items: center;
  width: 100%;
}

.contact-image img {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  object-fit: cover;
}

.contact-info {
  margin-left: 15px;
}

.edit-engineer-btn {
  margin-left: auto;
  padding: 10px 30px;
  background-color: #2ab92f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.edit-engineer-btn:hover {
  background-color: #228b22;
}

.right-side {
  flex: 1; 
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.contact-info-box,
.chart-container-contact {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%; 
  
}

.contact-info-box h3 {
  margin-top: 0;
  font-size: 2em; 
  color: #333; 
  margin-bottom: 20px;
}

.new-engineer-btn {
  padding: 10px 30px;
  background-color: #2ab92f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.new-engineer-btn:hover {
  background-color: #228b22; 
}

.contact-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #f0f0f0; 
  border-radius: 50%;
  font-size: 2rem;
  color: #333;
}

.profile-initial {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #2ab92f;
  color: white; 
  border-radius: 50%;
  font-size: 3rem; 
  line-height: 100px;
}


.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar {
  width: 100%;
  padding: 8px;
  padding-right: 40px; 
  box-sizing: border-box;
}

.clear-search-btn {
  position: absolute;
  right: 10px; 
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1rem;
  color: #333;
}


.suggestions-list {
  list-style-type: none; 
  padding: 0;
  margin: 0;
  background-color: #fff; 
  border: 1px solid #ddd; 
  border-radius: 4px; 
  max-height: 200px; 
  overflow-y: auto; 
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0; 
}


.no-results-message {
  color: #d9534f;
  font-size: 1rem;
  margin-top: 10px;
  text-align: center;
}

  .ticket-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .ticket-table th, .ticket-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .ticket-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .status-completed {
    background-color: #d4edda; 
    color: #155724; 
  }
  
  .status-paused {
    background-color: #fff3cd; 
    color: #856404; 
  }
  
  .status-not-completed {
    background-color: #f8d7da; 
    color: #721c24; 
  }
  
  .ticket-table td {
    padding: 10px;
  }

  .table-wrapper {
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch; 
    margin-bottom: 20px; 
  }

  .ticket-table th, .ticket-table td {
    border: 1px solid #010101;
  }
  
  .ticket-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .timeline-header {
    display: flex;
    align-items: center; 
  }

  .timeline-header h3 {
    margin: 0;
    flex-grow: 1; 
    margin-bottom: 20px;
  }
  
  .button-group {
    display: flex;
    gap: 10px; 
  }
  
  .add-ticket-btn, .edit-ticket-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #2ab92f;
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .add-ticket-btn:hover, .edit-ticket-btn:hover {
    background-color: #228b22;
  }

 

@media (max-width: 768px) {
  body {
    padding-top: 60px; 
  }

  .contact-page {
    flex-direction: column;
    padding: 10px;
  }

  .search-container {
    width: 100%;
    margin-bottom: 20px; 
  }

  .search-bar {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  .clear-search-btn {
    position: absolute;
    right: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 1rem;
    color: #333;
  }

  .suggestions-list {
    max-height: 150px;
  }

  .right-side {
    order: -1; 
  }

  .left-side,
  .right-side {
    flex: 1;
    margin-right: 0;
  }

  .left-side {
    margin-bottom: 20px;
  }

  .profile-section,
  .timeline-section,
  .contact-info-box,
  .chart-container-contact {
    padding: 10px;
  }
  .chart-container-contact{
    margin-bottom: 15px;
  }

  .timeline-section h3,
  .contact-info-box h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
  }

  .contact-card {
    flex-direction: column;
    align-items: center;
  }

  .contact-image img {
    width: 100px;
    height: 100px;
  }

  .contact-info {
    margin-left: 0;
    margin-top: 10px;
  }

  .edit-engineer-btn,
  .new-engineer-btn,
  .add-ticket-btn,
  .edit-ticket-btn {
    padding: 8px 16px;
    font-size: 14px;
  }
}


@media (max-width: 480px) {
  .contact-page {
    padding: 5px;
  }

  .search-container {
    margin-bottom: 10px; 
  }

  .search-bar {
    padding: 6px;
    font-size: 14px;
  }

  .clear-search-btn {
    right: 10px;
  }

  .suggestions-list {
    max-height: 120px;
  }

  .left-side,
  .right-side {
    flex: 1;
  }

  .right-side {
    order: -1; 
  }

  .chart-container-contact{
    margin-bottom: 15px;
  }

  .profile-section,
  .timeline-section,
  .contact-info-box,
  .chart-container-contact {
    padding: 8px;
  }

  .timeline-section h3,
  .contact-info-box h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .contact-card {
    flex-direction: column;
    align-items: center;
  }

  .contact-image img {
    width: 80px;
    height: 80px;
  }

  .contact-info {
    margin-left: 0;
    text-align: center;
  }

  .edit-engineer-btn,
  .new-engineer-btn,
  .add-ticket-btn,
  .edit-ticket-btn {
    padding: 6px 12px;
    font-size: 12px;
  }
}

/* Add styles for react-select */
.css-2b097c-container {
  width: 100%;
}

.css-yk16xz-control {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.css-1pahdxg-control {
  border-color: #ddd;
  box-shadow: none;
}

.css-1okebmr-indicatorSeparator {
  display: none;
}

.css-1hb7zxy-IndicatorsContainer {
  display: flex;
  align-items: center;
}

.css-1uccc91-singleValue {
  color: #333;
}

.css-1wa3eu0-placeholder {
  color: #aaa;
}
