.engineer-form-container {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  padding: 20px;
  gap: 40px; 
}

.engineer-form, .update-engineer-container {
  flex: 1; 
  display: flex;
  flex-direction: column;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  min-height: 100%; 
  width: 600px;
  min-height: auto;
}

.engineer-form{
  margin-right: 600px;
}



.toggle-switch {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 15px;
  cursor: pointer;
}

.toggle-switch .slider {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

.toggle-switch .slider.active {
  transform: translateX(20px);
  background-color: #28a745;
}

.toggle-switch.active {
  background-color: #28a745;
}

.headings {
  color: #41B3A2;
  font-family: 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  margin-bottom: 15px; 
}

.update-engineer-container .btn,
.engineer-form .btn {
  margin-top: 15px;
}

.update-engineer-container select {
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.alert {
  margin-bottom: 20px;
}



