
.location-form-container {
  display: flex;
  justify-content: space-around; 
  align-items: stretch; 
  height: 90vh; 
  padding: 20px; 
  gap: 20px;
}


.chart-container{
  flex: 1; 
  margin: 0; 
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); 
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
  border-radius: 8px; 
}

.form-container {
  flex: 1; 
  margin: 0; 
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
 
}


.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-form {
  display: flex;
  flex-direction: column;
  height: 100%; 
  width: 100%; 
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
  border-radius: 8px; 
  margin: 0; 
  box-sizing: border-box; 
  overflow-y: auto; 
}


.location-form .btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #1aba52; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.location-form .btn:hover {
  background-color: #048008;  
}


.location-form input,
.location-form textarea,
.location-form select {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 0.75rem;
  width: 100%;
  box-sizing: border-box; 
  transition: border-color 0.3s ease;
}

.location-form input:focus,
.location-form textarea:focus,
.location-form select:focus {
  outline: none; 
}


.location-form textarea {
  resize: vertical;
  min-height: 80px; 
}


.location-form h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333; 
}

.location-form-headings{
  color: #41B3A2; 
  font-family: Arial, Helvetica, sans-serif; 
  font-weight: 600; 
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .location-form-container {
    flex-direction: column; 
    align-items: center; 
    height: auto; 
  }
  
  .chart-container,
  .form-container {
    width: 100%;
    margin-bottom: 20px; 
    height: auto; 
  }
}
